@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --white: #fafffd;
  --white-secondary: #dff8eb;
  --black: #342e37;
  --primary: #1c7c54;
  --primary-darker: #0a5d3b;
  --orange: #fa824c;
  --blue: #3c91e6;
  --gray: #d8e2dc;
}
